.menu-button {
    background-color: #8D756F;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.menu-button:hover {
    background-color: #216869;
    cursor: pointer;
}

.menu-button > img {
    filter: brightness(0) invert(1);
    margin: 3px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.card {
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.card:hover {
    transform: scale(1.03); 
}

.img-product {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.card button {
    background-color: #216869;
    color: #fff;
    border: none; 
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out; 
}

.card button:hover {
    background-color: #8D756F;
}