@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Rethink Sans", sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
    margin: 10px auto;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    margin: 10px auto;
}

.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.05),rgba(0, 0, 0, 0.02)), url('src/assets/background.jpg');
    background-size: contain; 
    background-repeat: repeat; 
    background-attachment: fixed; 
    filter: contrast(125%);
    z-index: -1;
}

@layer components {
    .link-button {
        @apply text-link-blue hover:text-link-hover-blue;
    }
    .form-button {
        @apply px-4 py-2 bg-primary-brown text-white rounded-lg hover:bg-primary-green;
    }
    .table-header {
        @apply px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider;
    }
    .table-data {
        @apply px-6 py-4 whitespace-nowrap text-center;
    }
    .data {
        @apply text-sm text-gray-500;
    }
    .delete-button {
        @apply text-red-600 hover:text-red-900;
    }
}
